<div class="about col-md-5">
  <div class="row aboutbox">
    <h1 class="sandbox-about-title">
      Planet Sandbox Data
      <img id="sandbox-planet-logo" src="{{rootUrl}}img/logos/planet-logo.svg" alt="">
    </h1>
    <p> Test and experience a substantial amount of <a href="https://www.planet.com/" target="_blank">Planet</a> data samples made available under a <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC-BY-NC</a> (non-commercial) license to all active Planet users and Sentinel Hub users with a paid subscription. Sandbox Data offers a subset of the <a href="https://worldstrat.github.io/" target="_blank">WorldStrat</a> locations and dense time-stacks, ranging from 25 to 200 km2 in size. The locations are spread across the world, assuring a stratified representation of various use cases.</p>
    <hr>
     <div>
        <p>
          <img src="{{rootUrl}}img/external/world.png" alt="Worldstrat locations" width=100% />
        </p> 
        <p class="legend" align="right">Available Sandbox Data locations. Basemap from <a href="https://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a>.</p>
    </div>
    <hr>
    <p>Planet's data, with its dense time series and systematic availability, makes it a perfect input to machine learning models. Sandbox Data serves as a rich and diverse set of data collections, making it possible for data scientists to build, test and validate their machine learning models without huge investment in data subscriptions, even prior to validating the business model.</p>
    <a href="https://devext.sinergise.com/eo-browser/feature-sko/?tutorialIdToShow=PSD_TUTORIAL" target="_blank">
      <div class="explore-EOB-btn">
        <h3>
          Explore Sandbox Data via EO Browser
        </h3>
        <h4>
          Discover the easy-to-use theme and selected higlights.*
        </h4>
      </div>
    </a>
    <br></br>
    <p class="explore-btn-footer">*Available for all active Planet users and Sentinel Hub users with a paid subscription.</p>
  </div>
</div>
