<div class="about col-md-5">
  <div class="row aboutbox">
    <h3 class="sandbox-about-title">
      Planet Sandbox Data
      <img id="sandbox-planet-logo" src="{{rootUrl}}img/logos/planet-logo.svg" alt="">
    </h3>
    <p> Test and experience a substantial amount of <a href="https://www.planet.com/">Planet</a> data samples made available under a <a href="https://creativecommons.org/licenses/by-nc/4.0/"> CC-BY-NC</a> (non-commercial) license to all active Planet users and Sentinel Hub users with a paid subscription. Sandbox Data offers a subset of the WorldStrat locations and dense time-stacks, ranging from 25 to 200 km2 in size. The locations are spread across the world, assuring a stratified representation of various use cases.</p>
    <hr>
     <div>
        <p>
          <img src="{{rootUrl}}img/external/worldstrat.png" alt="Worldstrat locations" width="490" />
        </p> 
    </div>
    <hr>
    <p>Planet's data, with its dense time series and systematic availability, makes it a perfect input to machine learning models. Sandbox Data serves as a rich and diverse set of data collections, making it possible for data scientists to build, test and validate their machine learning models without huge investment in data subscriptions, even prior to validating the business model.</p>
    <p> Discover how to use <a href="https://ask Dino">Planet Sandbox Data in EO Browser</a>.</p>
  </div>
</div>
