<div class="about col-md-5">
  <div class="row aboutbox">
    <h3>Tag: {{tag}}</h3>

    <hr>

    <form>
      <div class="form-group">
        <input type="text" id="search-box" class="form-control" placeholder="Search collections" spellcheck="false"
          autocorrect="off">
      </div>
    </form>

  </div>
</div>