/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../font/roboto-v20-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../font/roboto-v20-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../font/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../font/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../font/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../font/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../font/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../font/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../font/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../font/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
a { color:#a2b228; }

a:hover {
  text-decoration: underline;
  color:#a2b228;
}

body { padding: 85px 0 30px 0;
  font-family: 'Roboto';
  font-size: 16px;
}

.legend { 
  font-family: 'Roboto';
  font-size: 8px;
}

.tag {
  margin-right: .8em;
}

.link-tag {
  cursor: pointer;
  display: inline-block;
}

.service-tag {
  background-color: #232F3E !important;
  border-width: 1px;
  border-style: solid;
}

.navbar-default {
  background-color: white;
}

.roda-header h1, .roda-header h2 {
  font-size: 24px;
  color: black;
  float:left;
  margin: 26px 0 10px 0;
}

.roda-header h2 a {
  color:black;
}

h1, h2, h3, h4, .dataset h3 a {
  font-family: 'Roboto';
  color:#232F3E;
  font-weight: 700;
}
h3 {
  margin-bottom: 16px;
  margin-top: 32px;
}
h4 {
  margin-top: 20px;
}

.dataset h3 a:hover {
  color:#eb5f07;
}

.datasets {
  padding-bottom: 30px;
}

#dataatwork {
  margin-top: 1.6em;
}

#dataatwork h4 a {
  color: #232F3E;
}

.dataatwork-category {
  font-weight: bold;
}

.dataset {
  margin-bottom: 2em;
}

.lede {
  font-family: 'Roboto';
  font-size: 1.28em;
  font-weight: 200;
  line-height: 1.6em;
}

#header_logo {
  max-width: 120px;
  float:right;
  padding: 20px 0 16px 0 ;
}

.label {
  font-weight: 400;
  margin-bottom: 8px;
}

.label-info {
  background-color: #a2b228;
}

.label-info:hover {
  background-color: #c0d049;
}

.label-info-sustainability {
  background-color: #1e8900;
}

.label-info-sustainability:hover {
  background-color: #6aaf35;
}

/*.resource-list:nth-child(odd) {
  background-color: #E5FFFF;
}*/

ul.resource-list {
  padding: 0;
  list-style-type: none;
}

ul.resource-list li {
  margin: 0 0 2em 0;
  border-bottom: 1px solid #d5dbdb;
}

ul.resource-list li:last-child {
  border-bottom:none;
}

ul.dataatwork-list li {
  margin: 0 0 10px 0;
}

dt {
  margin-top: .6em;
}

.section-row {
  border-color: #232F3E;
}

@media (max-width:768px) {
  .roda-header h1, .roda-header h2 {
    font-size: 18px;
    color: black;
    float:left;
    margin: 20px 0 20px 0;
  }
  #header_logo {
    float:right;
    padding:16px 0 16px 0 ;
  }
}

.breadcrumbs {
  color: #787878;
  position: relative;
  top: 14px;
}

.breadcrumbs a {
  color: #787878;
}

.aboutbox {
  background-color: red;
}

@media screen and (min-height: 530px) and (min-width:992px) {
 .aboutbox {
    position: fixed;
    z-index: 2;
    width: 392px;
  }

  .breadcrumbs.fixed {
    position: fixed;
    top: 90px;
    z-index: 3;
  }
}

/* @media screen and (min-height: 930px) and (min-width:1200px) {
 .aboutbox {
    position: fixed;
    z-index: 2;
    width: 490px;
  }

  .breadcrumbs.fixed {
    position: fixed;
    top: 90px;
    z-index: 3;
  }
} */

img.collab-logo {
  width: 100px;
  padding: 10px;
  float: left;
}

img.managed-by-logo {
  width: 100px;
}

.cat-anchor {
  position: relative;
  top: -50px;
}

img.providers {
  width: 200px;
  padding: 20px;
  text-align: center;
}

.providers-div {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 1.625;
}

.label {
  padding: .6em .8em .6em;
}

input#search-box {
  background-color:rgb(241, 247, 231);
}

.form-control {
  border: none;
  -webkit-box-shadow: none;
  height: 40px;
}
code {
  color: #585d2e;
  background-color: #f3f5e2;
}
table th {
  border: 1px solid hsl(0, 0%, 86%)!important;
  padding: 0 5px!important;
  text-align: left!important;
}
table tr:nth-child(even) {
  background: none repeat scroll 0 0 hsl(0, 0%, 96%)!important;
}
table tr, table td {
  border: 1px solid #dcdcdc!important;
  padding: 5px!important;
  vertical-align: top!important;
}
table > thead > tr {
  background-color:rgb(245, 245, 245)!important;
}
.h2_addition {
  margin-left: -15px;
}
.navbar {
 box-shadow: rgb(175 158 232 / 40%) -1px 0px 4px 1px;
 height:80px;
}

table{
  width:100%;
  max-width:100%;
  margin-bottom:20px
}

table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th {
  padding:8px;line-height:1.42857143;vertical-align:top;border-top:1px solid #ddd
}

table>thead>tr>th {
    vertical-align:bottom;border-bottom:2px solid #ddd
  }
table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
    border-top:0
  }
table>tbody+tbody{
    border-top:2px solid #ddd;
  }

.container33 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns of equal width */
  grid-gap: 40px; /* Adjust spacing between image cards */
  padding: 10px;
}

.container33 .image-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container33 .imagette {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.container33 .info {
  height: 100px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
}

.container33 .title {
  font-weight: bold;
}

.container33 .text {
  flex-grow: 1;
}

.sandbox-dataset .sandbox-dataset-title {
  color: black;
}

.sandbox-dataset .image-card {
  display: flex;
  flex-direction: row;
}

.sandbox-dataset .image-card .imagette {
  min-width: 124px;
  width: 124px;
  height: 124px;
  margin-right: 16px;
}
.sandbox-dataset .image-card .imagette * {
  display: block;
  width: 100%;
  height: 100%;
}

#leaflet-map {
  height: 520px;
}

.leaflet-popup-content-wrapper {
  font-size: 14px !important;
}

.leaflet-copy-geojson {
  background-color: #A2B228;
  color: white;
  border-radius: 4px;
  border: 1px solid #A2B228;
  margin-top: 8px;
}

.leaflet-copy-geojson:hover {
  background-color: #c0d049;
}

.leaflet-copy-geojson:active {
  background-color: #A2B228;
}

.sandbox-about-title {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.sandbox-about-title #sandbox-planet-logo {
  height: 44px;
}

.explore-sbd-btn {
  background-color: rgb(241,247,231, .9);
}

.explore-sbd-btn h3 {
  color: #a2b228;
  padding: 15px 15px 0px 15px;
}

.explore-sbd-btn h4 {
  color: #333;
  padding: 0px 15px 15px 15px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: normal;
}

.explore-sbd-btn a {
  text-decoration: none;
}

.explore-btn-footer {
  font-size: 12px;
  opacity: 0.5;
}
