<!DOCTYPE html>
<html lang="en">
  {{> header isHome=isHome}}

    {{#isEqual tag "sandbox data"}}
    {{> aboutSandboxTag}}

    {{else}}
    {{> about}}

    {{/isEqual}}

    {{> collectionsList}}


  {{> footer}}
  </body>
  <script src="{{rootUrl}}js/index.js"></script>
</html>
