<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <script type="text/javascript">
      window.location.replace("https://docs.planet.com/data/planet-sandbox-data/");
    </script>
  </body>
</html>
