<!DOCTYPE html>
<html lang="en">
  <body>
  {{> header isHome=isHome fixedBreadcrumbs=true}}

    {{> sandbox_about}}
    {{> sandbox_collectionsList}}

  {{> footer}}
  </body>
  <script src="{{rootUrl}}js/index.js"></script>
</html>
